In [1]:
import gc
import time
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
import xgboost as xgb
from xgboost import plot_importance
import matplotlib.pyplot as plt

/home/ubuntu/.pyenv/versions/3.6.4/envs/talkingdata/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
%%time
click_data = pd.read_hdf("../data/click_data.hdf", "click_data")

CPU times: user 12.9 s, sys: 10 s, total: 22.9 s
Wall time: 3min 6s

In [3]:
%%time
click_data["dow"] = click_data["click_time"].dt.dayofweek
click_data["hour"] = click_data["click_time"].dt.hour
click_data["minute"] = click_data["click_time"].dt.minute
click_data["second"] = click_data["click_time"].dt.second

CPU times: user 35.6 s, sys: 3.35 s, total: 38.9 s
Wall time: 38.9 s

In [4]:
click_data

,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os,dow,hour,minute,second
0,3,NaN,379,NaN,2017-11-06 14:32:21,1,83230,0.0,13,0,14,32,21
1,3,NaN,379,NaN,2017-11-06 14:33:34,1,17357,0.0,19,0,14,33,34
2,3,NaN,379,NaN,2017-11-06 14:34:12,1,35810,0.0,13,0,14,34,12
3,14,NaN,478,NaN,2017-11-06 14:34:52,1,45745,0.0,13,0,14,34,52
4,3,NaN,379,NaN,2017-11-06 14:35:08,1,161007,0.0,13,0,14,35,8
5,3,NaN,379,NaN,2017-11-06 14:36:26,1,18787,0.0,16,0,14,36,26
6,3,NaN,379,NaN,2017-11-06 14:37:44,1,103022,0.0,23,0,14,37,44
7,3,NaN,379,NaN,2017-11-06 14:37:59,1,114221,0.0,19,0,14,37,59
8,3,NaN,379,NaN,2017-11-06 14:38:10,1,165970,0.0,13,0,14,38,10
9,64,NaN,459,NaN,2017-11-06 14:38:23,1,74544,0.0,22,0,14,38,23
10,3,NaN,379,NaN,2017-11-06 14:38:27,1,172522,0.0,25,0,14,38,27
11,3,NaN,379,NaN,2017-11-06 14:38:51,1,105861,0.0,13,0,14,38,51
12,3,NaN,379,NaN,2017-11-06 14:39:29,1,210962,0.0,19,0,14,39,29
13,3,NaN,379,NaN,2017-11-06 14:40:16,1,124979,0.0,18,0,14,40,16
14,3,NaN,379,NaN,2017-11-06 14:40:39,1,38816,0.0,18,0,14,40,39
15,3,NaN,379,NaN,2017-11-06 14:40:51,1,80447,0.0,19,0,14,40,51
16,3,NaN,379,NaN,2017-11-06 14:43:10,1,134575,0.0,13,0,14,43,10
17,3,NaN,379,NaN,2017-11-06 14:43:14,1,57576,0.0,19,0,14,43,14
18,3,NaN,379,NaN,2017-11-06 14:43:25,1,7755,0.0,13,0,14,43,25
19,3,NaN,379,NaN,2017-11-06 14:43:51,1,91749,0.0,19,0,14,43,51
20,3,NaN,379,NaN,2017-11-06 14:44:02,1,50694,0.0,18,0,14,44,2
21,3,NaN,379,NaN,2017-11-06 14:44:15,1,111385,0.0,18,0,14,44,15
22,14,NaN,478,NaN,2017-11-06 14:44:51,1,125222,0.0,3,0,14,44,51
23,3,NaN,379,NaN,2017-11-06 14:44:51,1,191759,0.0,13,0,14,44,51
24,3,NaN,379,NaN,2017-11-06 14:44:52,1,53418,0.0,17,0,14,44,52
25,3,NaN,379,NaN,2017-11-06 14:47:49,1,183168,0.0,19,0,14,47,49
26,3,NaN,379,NaN,2017-11-06 14:48:07,1,47902,0.0,17,0,14,48,7
27,3,NaN,379,NaN,2017-11-06 14:48:55,1,209663,0.0,13,0,14,48,55
28,3,NaN,379,NaN,2017-11-06 14:49:36,1,129614,0.0,20,0,14,49,36
29,3,NaN,379,NaN,2017-11-06 14:49:38,1,208347,0.0,19,0,14,49,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...
203694329,27,NaN,153,18790438.0,2017-11-10 15:00:00,1,51432,NaN,13,4,15,0,0
203694330,14,NaN,401,18790440.0,2017-11-10 15:00:00,1,14334,NaN,19,4,15,0,0
203694331,9,NaN,334,18790441.0,2017-11-10 15:00:00,1,16749,NaN,13,4,15,0,0
203694332,23,NaN,153,18790442.0,2017-11-10 15:00:00,1,17814,NaN,13,4,15,0,0
203694333,21,NaN,232,18790443.0,2017-11-10 15:00:00,1,8825,NaN,13,4,15,0,0
203694334,8,NaN,259,18790444.0,2017-11-10 15:00:00,2,115536,NaN,13,4,15,0,0
203694335,2,NaN,205,18790445.0,2017-11-10 15:00:00,1,121472,NaN,19,4,15,0,0
203694336,12,NaN,242,18790446.0,2017-11-10 15:00:00,1,38000,NaN,12,4,15,0,0
203694337,1,NaN,125,18790447.0,2017-11-10 15:00:00,1,66176,NaN,19,4,15,0,0
203694338,2,NaN,205,18790448.0,2017-11-10 15:00:00,1,25553,NaN,22,4,15,0,0
203694339,21,NaN,128,18790449.0,2017-11-10 15:00:00,2,119531,NaN,19,4,15,0,0
203694340,13,NaN,469,18790450.0,2017-11-10 15:00:00,1,14062,NaN,53,4,15,0,0
203694341,14,NaN,442,18790451.0,2017-11-10 15:00:00,1,48536,NaN,19,4,15,0,0
203694342,1,NaN,125,18790452.0,2017-11-10 15:00:00,1,93291,NaN,19,4,15,0,0
203694343,9,NaN,258,18790453.0,2017-11-10 15:00:00,1,93291,NaN,19,4,15,0,0
203694344,1,NaN,125,18790455.0,2017-11-10 15:00:00,1,55874,NaN,22,4,15,0,0
203694345,9,NaN,145,18790454.0,2017-11-10 15:00:00,1,93291,NaN,19,4,15,0,0
203694346,8,NaN,259,18790456.0,2017-11-10 15:00:00,1,100697,NaN,18,4,15,0,0
203694347,20,NaN,259,18790457.0,2017-11-10 15:00:00,1,93291,NaN,19,4,15,0,0
203694348,2,NaN,452,18790458.0,2017-11-10 15:00:00,1,85329,NaN,14,4,15,0,0
203694349,15,NaN,140,18790459.0,2017-11-10 15:00:00,1,102467,NaN,17,4,15,0,0
203694350,9,NaN,445,18790460.0,2017-11-10 15:00:00,1,80537,NaN,19,4,15,0,0
203694351,2,NaN,237,18790462.0,2017-11-10 15:00:00,2,101214,NaN,16,4,15,0,0
203694352,17,NaN,128,18790461.0,2017-11-10 15:00:00,1,113418,NaN,17,4,15,0,0
203694353,12,NaN,135,18790463.0,2017-11-10 15:00:00,1,69245,NaN,13,4,15,0,0
203694354,9,NaN,127,18790464.0,2017-11-10 15:00:00,1,99442,NaN,13,4,15,0,0
203694355,23,NaN,153,18790465.0,2017-11-10 15:00:00,1,88046,NaN,37,4,15,0,0
203694356,18,NaN,265,18790467.0,2017-11-10 15:00:00,1,81398,NaN,17,4,15,0,0
203694357,27,NaN,122,18790466.0,2017-11-10 15:00:00,1,123236,NaN,13,4,15,0,0
203694358,12,NaN,265,18790468.0,2017-11-10 15:00:00,2,73516,NaN,27,4,15,0,0

In [7]:
%%time
click_times=click_data[["dow", "hour", "minute", "second"]]

CPU times: user 1.26 s, sys: 1.62 s, total: 2.88 s
Wall time: 2.86 s

In [8]:
%%time
click_times.to_hdf("../data/click_times.hdf", "click_times")

CPU times: user 2.94 s, sys: 9.05 s, total: 12 s
Wall time: 12 s